extends layout

block content
  h1 = title
  - 
    let jams = results

  div(class="container-fluid")
    div(class="row")
      each index in jams
        div(class="col-sm-2") 
          p(class="card-Text") #{index["Price"]} jam price
          p(class="card-Text") in #{index["Size"]}
          p(class="card-Text") flavor is #{index["Flavor"]}
  