extends layout
block content
    h1= title
    form(id='JamForm', action="/resource/jam", method="POST")
        div.form-group
            label.jamAttr(for='Flavor') Jam flavor
            input#Flavor(type='text', name='Flavor')
        div.form-group
            label.jamAttr(for='Size') Jam size
            input#Size(type='number', name='Size')
        div.form-group
            label.jamAttr(for='Price') Jam price
            input#Price(type='number', name='Price')
        input(type="submit")

    script.
        document.forms['JamForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });